.main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(3, 1fr);
	/* width: 95%; */
	gap: 50px;
	max-width: 1400px;
	margin: 50px auto;
	align-items: center;
	justify-content: right;
}
.loading {
	font-size: 3.125rem;
	margin-top: 6.25rem;
}
